/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

 #include <zephyr/dt-bindings/ipc_service/static_vrings.h>

 / {
     chosen {
         /delete-property/ zephyr,ipc_shm;
     };
 
     reserved-memory {
         /delete-node/ memory@20070000;
 
         sram_ipc0: memory@20070000 {
             reg = <0x20070000 0x8000>;
         };
 
         sram_ipc1: memory@20078000 {
             reg = <0x20078000 0x8000>;
         };
     };
 
     ipc {
         /delete-node/ ipc0;
 
         ipc0: ipc0 {
             compatible = "zephyr,ipc-openamp-static-vrings";
             memory-region = <&sram_ipc0>;
             mboxes = <&mbox 0>, <&mbox 1>;
             mbox-names = "tx", "rx";
             role = "host";
             status = "okay";
         };
 
         ipc1: ipc1 {
             compatible = "zephyr,ipc-openamp-static-vrings";
             memory-region = <&sram_ipc1>;
             mboxes = <&mbox 2>, <&mbox 3>;
             mbox-names = "tx", "rx";
             role = "host";
             zephyr,buffer-size = <2048>;
             status = "okay";
         };
     };
 };
 
  /* Enable pin forwarding to network core. The selected pins will be used by
   * Distance Measurement module for debug purposes.
   *
   * Note: Pay attention to assign the same GPIO pins as those provide in network core DTS overlay.
   */
 &gpio_fwd {
     compatible = "nordic,nrf-gpio-forwarder";
     dm-gpio-if {
         gpios = <&gpio0 26 0>,
             <&gpio0 27 0>;
         };
 };

 &i2c0 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;

	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
	zephyr,concat-buf-size = <1024>;	
};

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SCL, 0, 4)>,
                    <NRF_PSEL(TWIM_SDA, 0, 5)>;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SCL, 0, 4)>,
                    <NRF_PSEL(TWIM_SDA, 0, 5)>;
            low-power-enable;
        };
    };
};