config MCPD_DISTANCE
    bool "MCPD Distance"
config RTT_DISTANCE
    bool "RTT Distance"

config INDICATOR_LED_SATURATION
    int "Indicator LED saturation in hundredths"
    default 90
config INDICATOR_LED_LUMINANCE
    int "Indicator LED luminance in hundredths"
    default 40

config DM_PEER_DELAY_MS
    int "DM Peer Delay (ms)"
    default 1000

config DM_DISTANCE_OFFSET_CM
    int "DM Distance Offset (cm)"
    default 0

source "Kconfig.zephyr"